
@{
    Layout = null;
}
<!DOCTYPE html>


<html>

<head>
    <title>Repository Example </title>
    <style>
        .button_css {
            background-color: white;
            color: black;
            width: 120px;
            height: 30px;
        }

        li {
            font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
            border-bottom: 1px solid #ccc;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>

    <p>
        <button class="button_css"> @Html.ActionLink("Ekle", "Insert") </button>
    </p>
    <div>
        <ul>
            @foreach (var item in Model)
            {

                <li>Id: @item.Id   Adı: @item.Ad    Soyadı: @item.Soyad   TcKn: @item.Tc <button class="button_css"> @Html.ActionLink("Güncelle", "Edit", new { id = item.Id }, new { @style = "color:#00ff00;" })</button>    <button class="button_css"> @Html.ActionLink("Sil", "Delete", new { Id = item.Id }, new { @style = "color:#ff0000;" })</button> </li>
            }
        </ul>
    </div>
</body>
</html>
<!--
.button_css
    {
    background-color: green;
    color: black;
    width: 150px;
    height: 40px;
    }
    -->
